@import './../style/styles.module.scss';

.navWrapper {
    padding: 1rem;

    a {
        text-decoration: none;
        padding-left: 2rem;
    }

    [theme='light'] {
        background-color: $light-backdrop-color;

        a {
            color: $light-text-color;
        }
    }

    [theme='dark'] {
        background-color: $dark-backdrop-color;

        a {
            color: $dark-text-color;
        }
    }
}