@import './../../style/styles.module.scss';

.button {
    border: none;
}

.iconStyle {
    height: 3vh;
    width: 3vw;
}

[theme='light'] {
    background-color: $light-backdrop-color;
    color: $dark-background-color;
}

[theme='dark'] {
    background-color: $dark-backdrop-color;
    color: $dark-warning-color;
}