@import './../../style/styles.module.scss';

.headerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .navRouteContainer {
        flex: 50;
    }
}

[theme='light'] {
    .headerWrapper {
        background-color: $light-backdrop-color;
    }
}

[theme='dark'] {
    .headerWrapper {
        background-color: $dark-backdrop-color;
    }
}