$dark-background-color: #0e051f;
$dark-backdrop-color: #2d3047;
$dark-title-color: #e2c044;
$dark-id-color: #0096c7;
$dark-text-color: #b1d0d3;
$dark-button-text-color: #1A1B1E;
$dark-button-color: #2d82b7;
$dark-success-color: #629677;
$dark-warning-color: #ccc333;
$dark-danger-color: #c65353;

$light-background-color: #ffffff;
$light-backdrop-color: #dbe4ff;
$light-title-color: #25262b;
$light-id-color: #343a40;
$light-text-color: #2C2E33;
$light-button-text-color: #495057;
$light-button-color: #4dabf7;
$light-success-color: #2b8a3e;
$light-warning-color: #fab005;
$light-danger-color: #fa5252;
