@import './../../style/styles.module.scss';

.landingPageHero {
    // img {
    //     width: 100vw;
    //     // max-height: 200px;
    //     overflow: hidden;
    //     // object-position: 70% 15%;
        // aspect-ratio: 20 3;

        background-image: "./../../../public/assets/landing-page-hero.jpg";
        height: 500px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        img {
            size: cover;
            position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    // }
}